
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:grey;
  }
  
  .activelink{
    background-color: gray;
  }
  .inactivelink{
    background-color: black;
  }
  
  
  
  
  
  
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  
  .tabDisplay { 
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  
  .textContent{
  line-height: 25px;
  font-size: 20px;
  }
  
  .banner {
    object-fit: cover;
    width:100vw;
    height:20vw;

  }
  

  
  